.App {
  height: 700px;
  margin-top: -160px;
  width: 100%;
}

.App-logo {
  height: 55px;
  padding-left: 30px;
  padding-right: 10px;
}

.nav-container {
  padding-top: 22px;
  padding-left: 0;
  padding-right: 0;
  display: inline-flex;
  position: absolute;
  width: 100%;
}

.app-nav {
  position: relative;
}

.tagline-container {
  position: relative;
  z-index: 10;
  top: -550px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 65px;
  margin-bottom: 140px;
  color: white;
  text-align: center;
}

.tagline {
  z-index: 1000;
  position: relative;
  width: 100%;
  margin: auto 0;
}

.tagline-top {
  font-size: 43px;
  font-family: Avenir-Medium;
  font-weight: 600;
}

.tagline-bottom {
  font-size: 20px;
  font-family: Avenir;
  font-weight: 600;
}

.Hero {
  position: relative;
  margin: auto 0;
}

.Hero-image {
  position: relative;
  height: 700px;
  width: 100%;
  z-index: -1;
}

.How-it-works-container {
  background-color: #F4F4F4;
}

.How-it-works-title-container {
  text-align: center;
}

.How-it-works-title {
  font-size: 43px;
}

.brands-title-and-polaroid-container {
  padding-top: 50px;
  margin: 0 auto;
  width: 100%;
}

.our-brands-title {
  color: #525252;
  font-family: Avenir-Medium;
  font-weight: 600;
  font-size: 43px;
  text-align: center;
  display: block;
}

.our-brands-title:hover {
  /*color: #FFC7C8;
  cursor: pointer;
  text-decoration: none;*/
}

.main-welcome-message {
  margin-top: 50px;
  text-align:center;
  font-size:32px;
}

.form-group {
  margin-top:50px;
  margin-bottom:50px;
  text-align:center;
}

.user-input {
  height:35px;
  width:200px;
  border-radius: 4px;
}

.user-input:focus {
  border: none !important;
}

.select-type {
  width:200px;
  text-align:center;
}

.main-page-login-button {
  width:200px;
  height:35px;
  background: linear-gradient(to bottom, #87CEFA 0%, #86DEFC 100%);
  border-radius:4px;
  color:white;
  font-size:16px
}
